* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #f5f5f0;
}

.ms-editor,
.ms-editor canvas,
.ms-editor svg {
  width: 100% !important;
  height: 100% !important;
  display: block;
}