/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ms-color: #ffffff; /* Ink color white for dark mode */
}

/* Force MyScript layers to be full size */
.ms-editor, .ms-editor canvas, .ms-editor svg {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

/* Hide the default scrollbars if any */
body {
  overflow: hidden; 
  background: black;
}
